@model AlbumCollection.Models.Album
@{
    ViewData["Title"] = "Details";
}
<html>
<body>
    <h1>@Model.Name</h1>
    <h2>By: @Model.Artist</h2>
    <ul>
        @foreach (var song in Model.Songs)
        {
            <li>
                <h3>@song.Title</h3>
            </li>
        }
    </ul>
    @*<a href="/Song/Create/@Model.AlbumId">Add Song</a>*@
</body>
</html>
