@model AlbumCollection.Models.Album
@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/AlbumDetails.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>@Model.Name</h1>
        <h2>By: @Model.Artist</h2>
        <div id="songs">
            <img src="@Model.ImgPath" style="height: 25vh; width: auto; padding: 20px" />

            <ul>
                @foreach (var song in Model.Songs)
                {
                    <li>
                        <h3>@song.Title</h3>
                    </li>
                }
            </ul>
        </div>
        <a href="/Song/Create/@Model.AlbumId">Add Song</a>
        <a href="/Song/Delete/@Model.AlbumId">Delete Song</a>

    </div>
    <div class="topnav">
        <a href="/Album/Index">Back to List</a>
    </div>
</body>
</html>
