
@{
    ViewData["Title"] = "Details";
}
<html>
<body>
    <h2>Details</h2>
    <div class="ReviewBox">
        <div class="beerDetails">
            <div class="beerDescription">
                <h1>@Model.Name</h1>
                
            

                <p class="descriptionTxt">@Model.Artist</p>
            </div>
            <div class="beerPicture">
                <img src="@Model.ImgPath" />
            </div>
        </div>
    </div>
</body>
</html>
