@model IEnumerable<AlbumCollection.Models.Album>
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1.0 />
    <title>Welcome to Beerds, a Unique Beer Review Site</title>
</head>
<body>
    <h2>Index</h2>

    <div class="MainPageText">Which Style Do You Consume?</div>
    <div id="mainList">
        <ul>
            @foreach (var Album in Model)
            {
                <li><a href="/Album/Details/@Album.AlbumId">@Album.Name>@Album.Artist></a><br /><img src="@Album.ImgPath" /></li>
            }
        </ul>
    </div>
</body>
</html>