@model IEnumerable<AlbumCollection.Models.Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Collection</title>
</head>
<body>
    <header>
    <p>Welcome To Album Collection</p>
        </header>
    <div>
        <ul>
            @foreach (var album in Model)
            {
                <li><a href="/Album/Details/@album.AlbumId">@album.Name<br /><img src="@album.ImgPath />"</a></li>
            }
        </ul>
    </div>
</body>
</html>