@model IEnumerable<AlbumCollection.Models.Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Collection</title>
</head>
<body>
    @foreach (var album in Model)
    {
        <a href="/Album/Details/@album.AlbumId">@album.Name</a>
    }
</body>
</html>