@model IEnumerable<AlbumCollection.Models.Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/AlbumIndex.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <p id="header">Welcome To Album Collection</p>
        </header>
        
            <p id="header2">The simple way to organize your records!</p>
        
            <div class="album">
                <ul>
                    @foreach (var album in Model)
                    {
                        <li>
                            <a href="/Album/Details/@album.AlbumId">
                                <span class="album-name">@album.Name</span><br />
                                <span class="album-artist">By: @album.Artist</span><br />
                                <img src="@album.ImgPath" style="height: 25vh; width: auto; padding: 20px" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
   
</body>
</html>