
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1.0 />
    <title>Welcome to Beerds, a Unique Beer Review Site</title>
</head>
<body>
    <h2>Index</h2>

    <div class="MainPageText">Which Style Do You Consume?</div>
    <div id="mainList">
        <ul>
            @foreach (var Album in Model)
            {
              
            }
        </ul>
        </div>
</body>
</html>