* {
    margin: 0;
    padding: 0;
   
   
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: 'Baloo Chettan', cursive;
    background-color: lightgray;
}
.container a {
    text-decoration: none;
}
#header {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: black;
    margin-top: 2em;
    margin-bottom: 2em;   
}
#header2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: black;
    margin-bottom: 2em;
}
.album {
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    background-color: white;
    list-style-type: none;
}  
.album-name {
    color: dodgerblue;
    font-size: 18px;
}
.album-artist {
    color: dodgerblue;
    font-size: 15px;
}
li {
    list-style-type: none;
}