* {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Baloo Chettan', cursive;
   
}
h1{
    font-size: 30px;
    margin-top: 2em;
    margin-bottom: 2em;
}
h2 {
    font-size: 22px;
    margin-bottom: 2em;
}
#songs {
    display: grid;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    padding-top: 4em;
    background-color: white;
}
ul {
    list-style-type: none;
    padding: 2em, 2em;
    font-size: 14px;
}
.topnav {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding-bottom: 1em;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Baloo Chettan', cursive;
}
